/* root variables */

/* main */
main.container {
    overflow-y: scroll;
    height: 100vh;
    font-size: 5rem;
    background-color: rgb(211, 114, 114);
}

/* desktop nav */
nav.container:first-child {
    background-color: rgb(92, 136, 230);
}

/* mobile nav */

    /* menu toggle */
    nav.container:nth-child(n + 2) .items button {
        position: absolute;
        right: 5em;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        height: 8vh;
        border: 0;
        background: none;
        color: #433E3E;
    }

    /* icon container */
    nav.container:nth-child(n + 2) .items {
        position: fixed;
        right: 5%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: 100vh;
        background-color: white;
    }

    nav.container:nth-child(n + 2) .items a {
        display: flex;
        justify-content: center;
        height: 6vh;
        padding: 0.5em;
        border-radius: 50%;
        background-color: white;
    }

    /* active icon */
    nav.container:nth-child(n + 2) .items a.active {
        background: linear-gradient(120deg, rgba(53,227,139,1) 40%, rgba(0,212,255,1) 100%);
    }

    /* image tags */
    nav.container:nth-child(n + 2) .items img {
        width: 60%;
    }