/* hide overflow, set height and width to viewport */
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* root variables */
:root {
    --accent-color: #40a5ee;
    --foreground-color: #f3f7fd;
    --secondary-text-color: white;
}

/* grid layout (overflow 20% left for sidebar) */

.layoutGrid {
    display: grid;
    grid-template-columns: 100% 70%;
    background-color: var(--foreground-color);
    overflow: hidden;
}

/* main content grid */

.mainGrid {
    margin: 0 1em 0 1em;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 30% 65%;
    background-color: white;
}

/* styling for header tags in main content */

.mainGrid h1 {
    font-size: 2rem;
}

.mainGrid h2 {
    font-size: 1.5rem;
}

.mainGrid h3 {
    font-size: 1rem;
}

/* styling for navigation bar */

.mainGrid nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mainGrid nav i {
    padding: 1em;
    font-size: 1.5rem;
}

/* styling for information display */

.mainGrid .displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayContainer .displayItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    border-radius: 15% / 40%;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

/* styling for navigation cards */

.cardContainer {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

/* general styling for each card */

.cardContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 1em 4em 1em 4em;
    border-radius: 20% / 20%;
    background-color: var(--accent-color);
}

/* general styling for each svg on card */

.cardContainer > div img {
    width: 100%;
    padding: 2em 0 2em 0;
    background-color: var(--accent-color);
}

.sidebarFlex {
    height: 100vh;
    background-color: rgb(0, 132, 255);
}