* {
    margin: 0;
    padding: 0;
}

/* root variables */
:root {
    --dark-color: #42a087;
    --grey-color: #696D7D;
    --medium-color: #74c1bc;
    --accent-color: #C4E5C5;
    --foreground-color: #F0F7F4;
    --highlight-color: #edb54e;
}

/* styling for body */
body {
    padding: 1em;
    background-color: var(--foreground-color);
    font-family: 'Roboto', 'sans-serif';
}

/* get rid of defualt scrollbars */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* styling for main grid */
main.main-container-grid {
    display: grid;
    height: 100%;
    padding: 1em;
    border-radius: 5% / 2%;
    background-color: var(--accent-color);
    overflow: hidden;
}

/* styling for header grid */
header.header-grid {
    display: grid;
    height: 100%;
    border-radius: 5% / 3%;
    color: white;
    background-color: var(--dark-color);
}

/* targets first child (header text) */
.header-grid .header-item:first-child {
    padding: 0.8em;
    font-size: 2rem;
}

/* styling for card container */
.header-grid .header-card-container {
    display: flex;
    padding: 0.8em;
    font-size: 2rem;
    overflow: scroll;
}

/* styling for cards in container */
.header-grid .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    padding-top: 0;
    margin: 0 0.5em 0 0.5em;
    font-size: 1.5rem;
    white-space: nowrap;
    border-radius: 10%;
    background-color: var(--medium-color);
}

/* styling svg in cards */
.header-grid .card img {
    width: 100%;
    padding: 0.5em;
    margin: 0.8em;
    border-radius: 10%;
    background-color: white;
}

/* styling for header text */
main .header-text {
    display: flex;
    align-items: flex-end;
    height: 10vh;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    color: var(--grey-color);
}

/* styling for information grid */
article.information-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5%;
    background-color: var(--medium-color);
    overflow: hidden;
}

/* styling for cards in container */
.information-card-container .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 1.3em;
    padding-left: 1rem;
    padding-right: 0;
    font-size: 1.5rem;
    border-radius: 5% / 10%;
    border-left: 0.5em solid var(--highlight-color);
    background-color: white;
    overflow-x: scroll;
}

/* styling for h1, h2, i tags in cards */
.information-card-container .card h1 {
    padding-right: 0.5em;
    border-right: 1px solid var(--grey-color);
}

.information-card-container .card h2 {
    padding-left: 0.5em;
}

.information-card-container .card i {
    margin-left: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: var(--grey-color);
}

@media only screen and (min-width: 768px) {
    body {
        padding: 12em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media only screen and (min-width: 992px) {
    body {
        padding: 18em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}