/* globals */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    scroll-snap-type: y mandatory;
}

/* root variables */

/* main */
intro.container {
    height: 100vh;
    background-color: rgb(211, 114, 114);
}

/* media queries */
@media only screen and (min-width: 1400px) {
    body {
        margin: 0 5em 0 5em;
    }
}
