* {
    margin: 0;
    padding: 0;
}

/* root variables */
:root {
    --darkest-color: #429d85;
    --dark-color: #53b69c;
    --grey-color: #696D7D;
    --medium-color: #86d3ce;
    --accent-color: #C4E5C5;
    --foreground-color: #F0F7F4;
    --highlight-color: #edb54e;
}

/* styling for body */
body {
    padding: 1em;
    background-color: var(--foreground-color);
    font-family: 'Roboto', 'sans-serif';
    overflow-x: hidden;
}

/* styling to get rid of link styling (a tags) */
a {
    font-size: inherit;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

/* get rid of defualt scrollbars */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* styling for sidebar container */
/* targets first child (bars icon for toggling sidebar) */
sidebar button:first-child {
    position: fixed;
    top: 0;
    left: 90%;
    padding: 0.3em;
    font-size: 1.5rem;
    border-radius: 20%;
    border: 0;
    background-color: var(--foreground-color);
    color: var(--grey-color);
}

/* styling for dashboard sidebar */
sidebar .sidebar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: clamp(20%, 30em, 70%);
    top: 0;
    left: 100%;
    transition: ease-in 0.2s;
    background-color: var(--darkest-color);
    color:var(--foreground-color);
}

/* styling for first sidebar items (ignoring all other items) */
sidebar .sidebar-container .sidebar-item:first-child {
    display: flex;
    padding-left: 0.5em;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    background-color: var(--dark-color);
}

/* styling for sidebar items (ignoring first item) */
sidebar .sidebar-container .sidebar-item:nth-child(n + 2) {
    display: flex;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--grey-color);
    background-color: var(--dark-color);
}

/* styling for sidebar icons */
sidebar .sidebar-container .sidebar-item i {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* animation for sidebar */
sidebar button:focus + .sidebar-container {
    transform: translateX(-100%);
    transition: ease-in 0.2s;
}

/* styling for main grid */
main.main-container-grid {
    display: grid;
    height: 100%;
    padding: 0.5em;
    border-radius: 5% / 2%;
    box-shadow: 0.3em 0em 0.2em rgba(105, 109, 125, 10%);
    background-color: var(--accent-color);
    overflow: hidden;
}

/* styling for header text */
main .header-text {
    display: flex;
    align-items: flex-end;
    height: 10vh;
    margin-bottom: 1em;
    font-size: 1.5rem;
    color: var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
}

/* styling for header text icons */
main .header-text i {
    margin-left: auto;
    margin-right: 2em;
}

/* styling for header container */
header.header-container {
    display: grid;
    height: 100%;
    width: clamp(20%, 70em, 100%);
    margin: 0 auto 0 auto;
    border-radius: 5% / 3%;
    color: white;
    box-shadow: 1em 1em 0.7em rgba(105, 109, 125, 10%);
    background-color: var(--dark-color);
    overflow-wrap: break-word;
}

/* styling for item container (hold all grocery list items */
header list.item-container {
    margin: 0 0.5em 0 0.5em;
    background-color: var(--foreground-color);
    color: var(--grey-color);
    overflow-wrap: break-word;
}

/* styling for item amount button */
header list button.item-amount {
    padding: 0.5em;
    margin-right: 0.5em;
    font-size: 1rem;
    border: 1px solid var(--grey-color);
    background-color: var(--dark-color);
    color: var(--foreground-color);
}

/* targets first text in list (headers) */
header list .item:first-child {
    display: flex;
    align-items: center;
    margin: 0.5em 0 0.5em 0.2em;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--grey-color);
}

/* targets every other text in list (items) */
header list .item:nth-child(n + 2) {
    display: flex;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0.1em 0.1em 0.3em rgba(105, 109, 125, 10%);
    font-size: 1.2rem;
    overflow-wrap: break-word;
}

/* targets trashcan icons */
header list .item .fa-trash-can {
    margin-left: auto;
    margin-right: 1em;
    color: var(--dark-color);
}

/* media queries */
@media only screen and (min-width: 768px) {
    body {
        padding: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media only screen and (min-width: 992px) {
    body {
        padding: 18em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}