/* body */
body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--foreground-color);
}

a {
    color: inherit;
    text-decoration: none;
}

/* root variables */
:root {
    --navbar-color: rgba(0, 0, 0, 0.6);
    --grey-color: #819185;
    --darkest-color: #386641;
    --dark-color: #6a994e;
    --medium-color: #77a95a;
    --light-color: #b9e25b;
    --foreground-color: #fbefe8;

}

/* main grid */
main.main-grid {
    display: grid;
    place-items: center;
    margin-bottom: 5em;
    overflow: hidden;
}

/* desktop nav */
nav.desktop-navbar {
    position: fixed;
    top: 0.2em;
    z-index: 9;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: clamp(40%, 30em, 30em);
    background-color: var(--navbar-color);
    border-radius: 3% / 30%;
    color: var(--foreground-color);
}

    /* first child */
    nav.desktop-navbar :first-child {
        margin-left: 0.5em;
        font-size: 1.4rem;
    }

    /* child icons */
    nav.desktop-navbar a i {
        padding: 1em;
        font-size: 1.8rem;
    }

/* mobile nav */
nav.mobile-navbar {
    position: fixed;
    z-index: 9;
    bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    background-color: var(--navbar-color);
    border-radius: 5% / 30%;
    color: var(--foreground-color);
}

    /* child icons */
    nav.mobile-navbar i {
        padding: 0.5em;
        font-size: 1.8rem;
    }

/* global nav */
    /* nav selected tab */
    nav i.select{
        background-color: var(--dark-color);
    }

    nav i:hover{
        cursor: pointer;
        color: var(--light-color);
    }

/* header text */
.header-text {
    width: 100%;
    margin: 0.5em 0 1em 1em;
    font-size: 1.5rem;
    color: var(--grey-color);
}

/* display container */
.main-display-container {
    width: 100%;
}

    /* display text */
    .main-display-container h1 {
        position: absolute;
        z-index: 2;
        margin-top: 1em;
        margin-left: 0.3em;
        font-size: 3.5rem;
        color: var(--darkest-color);
    }

    /* display svg */
    .main-display-container img {
        height: 30vh;
        width: 100%;
        rotate: 180deg;
    }

/* list container */
.list-container {
    width: clamp(10em, 98%, 50em);
    overflow: hidden;
}

    /* item */
    .list-container .item-header {
        padding: 0.7em;
        background-color: white;
        border-bottom: 1px solid var(--grey-color);
        font-size: 1.6rem;
        overflow-wrap: break-word;
    }

    /* item */
    .list-container .item {
        display: flex;
        align-items: center;
        background-color: white;
        color: var(--grey-color);
        box-shadow: 0 1em 1.2em var(--navbar-color);
        font-size: 1.3rem;
    }

    .list-container .item h1 {
        padding: 0.9em;
        color: var(--foreground-color);
        background-color: var(--medium-color);
    }

    .list-container .item h2 {
        flex: 2;
        margin-left: 0.5em;
        overflow: hidden;
        overflow-wrap: break-word;
    }

    .list-container .item i {
        margin-left: 1em;
        margin-right: 1em;
        color: var(--medium-color);
    }

/* add container */
.add-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

    .add-container > i {
        position: fixed;
        bottom: 1.5em;
        z-index: 11;
        font-size: 3.5rem;
        color: var(--darkest-color);
        rotate: 0deg;
        transition: rotate 1s, bottom 0.5s;
    }

    .add-container > i.rotate {
        rotate: 45deg;
        bottom: 1em;
        color: var(--light-color);
        transition: rotate 1s, bottom 0.5s;
    }


/* input */
.form-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: clamp(5em, 100%, 90em);
    bottom: 0;
    z-index: 10;
    height: 0;
    background-color: var(--dark-color);
    transition: height 0.7s;
}

.form-add-container.show {
    height: 100%;
    transition: height 0.7s;
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: clamp(5em, 95%, 60em);
    margin-top: 1em;
    padding: 1em 0 1em 0;
    border-radius: 5% / 20%;
    background-color: var(--light-color);
    box-shadow: 0.5em 0 2em var(--navbar-color);
}

    /* select input */
    .form-add-container .input-select {
        height: 2em;
        width: clamp(5em, 70%, 60em);
        font-size: 1.5rem;
        border: 0;
        background-color: var(--light-color);
    }

    .form-add-container .input-select option {
        font-size: 0.8rem;
    }

    /* first input */
    .form-add-container .input-container:first-child {
        margin-top: 3em;
    }

    /* input */
    .form-add-container .input-container input {
        width: clamp(5em, 85%, 60em);
        padding: 0.5em;
        font-size: 1.8rem;
        border: 0;
        background-color: var(--light-color);
    }

    /* input btn */
    .form-add-container > button {
        width: clamp(5em, 30%, 20em);
        margin-top: 3em;
        padding: 0.5em;
        font-size: 1.5rem;
        border: 0;
        border-radius: 10%;
        background-color: var(--light-color);
    }


@media only screen and (min-width: 650px) {
    /* desktop nav */
    nav.desktop-navbar {
        display: flex;
    }

    /* mobile nav */
    nav.mobile-navbar {
        display: none;
    }
    
}