/* globals */

body {
    height: 100%;
    background-color: var(--white-med);
    font-family: 'Roboto', sans-serif;
}

/* root variables */
:root {
    /* main */
    --main-dark: #3d9555;
    --main-med: #5acb78;
    --main-light: #69e289;
    /* white */
    --white-dark: #91968f;
    --white-med: #f4fff1;
    --white-light: #f8fcff;
    /* grey */
    --grey-med: #405c83;
    --grey-light: #90a7c4;
}

/* nav toggle btn */
body > i:first-child {
    position: fixed;
    top: 0.1em;
    right: 0.1em;
    font-size: 2rem;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--main-med);
}

/* nav container fixed */
nav.container {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--grey-med);
    overflow-y: scroll;
    z-index: 50;
}
    /* nav transition */
    nav.container {
        right: -125%;
        transition: all 0.3s ease-in-out;
    }
    /* link container */
    nav.container a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em 3em 1em 1em;
        margin: 1em 2em 1em 2em;
        border-radius: 10px;
        background-color: var(--white-med);
    }
            /* first link */
            nav.container div {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 1.5rem;
                justify-content: space-around;
                background-color: var(--white-med);
            }
            nav.container div i{
                padding: 1em;
                cursor: pointer;
            }
        /* link text */
        nav.container a h1 {
            margin-left: 1em;
            font-size: 1.3rem;
        }
        /* active link */
        nav.container a.active {
            background-color: var(--main-light);
        }
        /* hover link */
        nav.container a:hover {
            transition: all 0.6s;
            margin: 1em 1em 1em 1em;
            background-color: var(--main-light);
        }
/* header */
header.container {
    padding: 1%;
    background-color: var(--main-med);
}
    /* text */
    header.container h1 {
        margin-top: 1em;
        margin-bottom: 1.5em;
        text-align: center;
        font-size: 2.5rem;
        color: var(--white-light);
    }
/* add btn container */
div.add-container i {
    position: fixed;
    bottom: 4%;
    right: 4%;
    z-index: 49;
    padding: 0.3em;
    font-size: 2.5rem;
    border-radius: 30px;
    background-color: var(--main-med);
    color: var(--grey-med);
    cursor: pointer;
}
/* list container */
div.list-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0.2em 1em 0.2em;
}
    /* first title */
    div.list-container div.title:first-child {
        display: flex;
        padding: 0.5em;
        font-size: 1.8rem;
        border-radius: 10px 10px 0 0;
        background-color: var(--grey-med);
        color: var(--white-med);
    }
        /* every other title */
        div.list-container div.title {
            display: flex;
            padding: 0.5em;
            font-size: 1.8rem;
            background-color: var(--grey-med);
            color: var(--white-med);
        }
        /* last title */
        div.list-container div.title:last-child {
            display: flex;
            padding: 0.5em;
            border-radius: 0 0 10px 10px;
            background-color: var(--grey-light);
            color: var(--white-med);
        }
    /* list item */
    div.list-container div.item {
        display: flex;
        padding: 0.4em;
        font-size: 1.4rem;
        border-bottom: 1px solid var(--grey-light);
        background-color: var(--white-light);
        overflow: hidden;
    }
        /* list item number */
        div.list-container div.item h1:first-child {
            margin-right: 0.5em;
            color: var(--main-dark);
        }
        /* list item text */
        div.list-container div.item h1:nth-child(2n) {
            flex: 2;
            display: flex;
            flex-direction: column;
            overflow-wrap: break-word;
        }
            /* list note text */
            div.list-container div.item h1:nth-child(2n) span {
                margin-top: 0.2em;
                font-size: 1rem;
                color: var(--main-med);
                overflow-wrap: break-word;
            }
        /* list trash */
        div.list-container div.item .fa-trash {
            margin-top: 0.2em;
            color: rgb(225, 129, 129);
            cursor: pointer;
        }


@media only screen and (min-width: 700px){
    header.container div.svg object {
        width: 30%;
    }
    header.container h1 {
        font-size: 3rem;
    }
    header.container div.svg object {
        width: 40%;
    }
    section.container {
        margin: 3% 10% 0 10%;
    }
}

@media only screen and (min-width: 1000px){
    header.container h1 {
        font-size: 3rem;
    }
    header.container div.svg object {
        width: 20%;
    }
    section.container {
        margin: 3% 20% 0 20%;
    }
}