/* globals */
body {
    background-color: var(--white-medli);
}

/* main container */
main.container {
    display: flex;
    flex-direction: column;
    width: clamp(10em, 94%, 50em);
    margin: 1em auto 1em auto;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    box-shadow: 0 0 1em var(--white-med);
    background-color: var(--white-light);
}
    /* back arrow */
    main.container > a {
        padding: 0.5em 0 0.5em 1em;
        font-size: 1.4rem;
        color: var(--grey-dark);
    }
/* header */
main.container > div.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--white-med);
}
    /* img avatar */
    main.container > div.header > img {
        height: 150px;
        width: 150px;
        margin: 1em 0 1em 0;
        border-radius: 50%;
        border: 1px solid var(--white-med);
    }
    /* h1 text */
    main.container > div.header > h1 {
        font-size: 1.2rem;
        color: var(--grey-dark);
    }
/* section */
main.container > div.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em 0 1.5em 0;
    border-bottom: 1px solid var(--white-med);
    color: var(--grey-med);
    cursor: pointer;
}
    /* hover div */
    main.container > div.section:hover {
        background-color: var(--white-medli);
    }
    /* first icon */
    main.container > div.section > i:first-child {
        margin-left: 1em;
        margin-right: 1em;
    }
    /* h1 text */
    main.container > div.section > h1 {
        flex: 2;
        font-size: 1.2rem;
    }
    /* last icon */
    main.container > div.section > i:last-child {
        margin-right: 2em;
    }