/* globals */
body {
    background-color: var(--white-medli);
}

/* hide footer graphic container */
div.container-graphic {
    display: none;
}

/* main container */
main.container {
    display: flex;
    flex-direction: column;
    width: clamp(10em, 100%, 50em);
    margin: 1em auto 1em auto;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    box-shadow: 0 0 1em var(--white-med);
    background-color: var(--white-light);
}
    /* header text */
    main.container > h1 {
        margin-top: 1em;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--grey-dark);
    }
/* control container parent */
div.container-controls-parent {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}
    /* each header text (button) */
    div.container-controls-parent > h1 {
        display: flex;
        justify-content: center;
        padding: 2em;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--grey-dark);
        border-bottom: 1px solid var(--white-med);
        cursor: pointer;
    }
        /* hover over button (h1) */
        div.container-controls-parent > h1:hover {
            background-color: var(--white-medli);
        }
    /* control container child */
    div.container-controls-child {
        display: none;
        padding: 2em 0 2em 0;
        border-bottom: 1px solid var(--white-med);
    }
    /* form */
    div.container-controls-child > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        width: clamp(5em, 80%, 25em);
        margin: 0 auto 0 auto;
    }
        /* text */
        div.container-controls-child > form input[type="text"], input[type="password"]{
            width: 100%;
            padding: 0.8em;
            font-size: 1rem;
            border-radius: 8px;
            border: 1px solid var(--white-med);
            background-color: var(--white-medli);
        }
        /* button */
        div.container-controls-child > form button[type="submit"]{
            width: 100%;
            margin-top: 1em;
            padding: 0.5em 0 0.5em 0;
            border: 0;
            border-radius: 8px;
            font-size: 1.3rem;
            background-color: var(--main-med);
            color: var(--white-light);
            cursor: pointer;
        }