/* globals */
body {
    background-color: var(--white-medli);
}

    /* first container */
    main.container > div.container-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        place-items: center;
        padding: 4em 0 4em 0;
        background: linear-gradient(120deg, rgb(129, 222, 213) 0%, rgba(112,242,162,1) 36%);
    }
        /* header text */
        main.container > div.container-header > h1{
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            margin-bottom: 1em;
            font-size: 2rem;
            color: var(--white-light);
            text-shadow: 2px 4px var(--con-light);
        }
        /* svg */
        main.container > div.container-header > object {
            width: 40%;
        }
    /* home link */
    div.container-home-link {
        display: flex;
        padding: 1em;
        gap: 2em;
        overflow-x: scroll;
        scrollbar-width: none;
    }
        /* hide scrollbar link */
        div.container-home-link::-webkit-scrollbar {
            display: none;
        }
        /* each link */
        div.container-home-link > a {
            padding: 0.5em 2em 0.5em 2em;
            border-radius: 20px;
            box-shadow: 0 0 1em var(--white-med);
            background-color: var(--white-light);
        }
        /* each image */
        div.container-home-link > a > img {
            width: 35px;
        }
    /* stats container */
    div.container-stats {
        display: flex;
        flex-direction: column;
        gap: 1em;
        min-height: 65vh;
        width: clamp(10em, 94%, 65em);
        margin: 0 auto 0 auto;
        padding: 3%;
        background-color: var(--white-medli);
    }
        /* header text */
        div.container-stats > h1 {
            padding-top: 1em;
            font-size: 1.7rem;
            font-weight: 700;
            color: var(--grey-dark);
        }
        /* container data */
        div.container-stats div.container-data {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 0 0 1em var(--white-med);
            background-color: var(--white-light);
        }
            /* header text */
            div.container-stats div.container-data > h1 {
                padding: 2em 0 1em 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--grey-dark);
                background-color: var(--white-med);
                border-bottom: 1px solid var(--grey-light);
            }
                /* first header */
                div.container-stats div.container-data > h1:first-child {
                    border-radius: 20px 20px 0 0;
                }
            /* container data card */
            div.container-stats div.container-data div.container-data-card {
                display: flex;
                flex-direction: column;
                gap: 2em;
                align-items: center;
                padding: 2em 0 2em 0;
                border-bottom: 1px solid var(--white-med);
            }
                /* hover data card */
                div.container-stats div.container-data div.container-data-card:hover {
                    background-color: var(--white-medli);
                }
                /* last data card */
                div.container-stats div.container-data div.container-data-card:last-child {
                    border-bottom: 0;
                }
                /* card h1 text */
                div.container-stats div.container-data div.container-data-card > h1 {
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: var(--grey-light);
                    overflow: hidden;
                    overflow-wrap: break-word;
                }
                    /* card h2 text */
                    div.container-stats div.container-data div.container-data-card > h2 {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: var(--grey-dark);
                    }
                /* link card */
                div.container-stats div.container-data div.container-data-card > a {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 1.2rem;
                    color: var(--grey-dark);
                }
                    /* icon */
                    div.container-stats div.container-data div.container-data-card > a > img {
                        height: 25px;
                        width: 25px;
                        margin-right: 0.6em;
                    }
/* media queries */

/* mobile */
@media only screen and (min-width:750px) {
    main.container > div.container-header object {
        width: 40%;
    }
    /* header text */
    main.container > div.container-header > h1{
        font-size: 2.5rem;
    }
    div.container-home-link {
        justify-content: center;
    }
}
/* desktop */
@media only screen and (min-width:1200px) {
    main.container > div.container-header object {
        width: 30%;
    }
    /* header text */
    main.container > div.container-header > h1{
        font-size: 3rem;
    }
    div.container-home-link {
        justify-content: center;
    }
}