/* globals */
body, html {
    height: calc(100%);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* message flashing */
div.flash-container {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    visibility: hidden;
    animation: hideFlash 5s;
}
    /* message text */
    div.flash-container h1.message {
        padding: 1em;
        margin: 0 6% 0 6%;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 20px;
        background-color: var(--transparent);
        color: var(--white-light);
        overflow-wrap: break-word;
    }
    /* animation for hiding message */
    @keyframes hideFlash {
        0% { visibility: visible; }
        80% { opacity: 1; }
        100% { opacity: 0; }
    }

/* nav container desktop */
nav.desktop-container {
    display: none;
    align-items: center;
    padding: 0 5% 0 5%;
    background-color: var(--main-med);
}
    /* all links */
    nav.desktop-container a {
        padding: 1em;
        font-size: 1.1rem;
        color: var(--white-light);
    }
        /* first link */
        nav.desktop-container a:first-child {
            flex: 2;
            font-size: 1.5rem;
            text-shadow: 3px 3px var(--grey-light);
        }
        /* last link */
        nav.desktop-container a:last-child {
            margin: 0.5em;
            margin-left: 1%;
            padding: 0.5em 1.5em 0.5em 1.5em;
            border-radius: 20px;
            background-color: var(--white-light);
            color: var(--main-med);
        }

/* mobile nav container */
nav.mobile-container {
    display: none;
    align-items: center;
    padding: 0 2% 0 2%;
    background-color: var(--main-med);
    color: var(--white-light);
}
    /* first link */
    nav.mobile-container > a:first-child {
        flex: 2;
        padding: 0.5em;
        font-size: 1.4rem;
        text-shadow: 1px 1px var(--grey-med);
    }
    /* toggle button */
    nav.mobile-container > button {
        border: 0;
        background: none;
        padding: 0.8em;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--white-light);
    }
        /* toggle menu */
        nav.mobile-container > button:focus + nav.container {
            right: 0;
            transition: all 0.4s ease-in;
        }
    /* link container */
    nav.mobile-container .container {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--white-light);
        transition: right 0.4s ease-in;
        overflow-y: scroll;
    }
        /* each link */
        nav.mobile-container .container a {
            display: flex;
            align-items: center;
            padding: 1em;
            font-size: 1.2rem;
            border-bottom: 1px solid var(--white-med);
            color: var(--grey-dark);
        }
            /* hover link */
            nav.mobile-container .container a:hover {
                background-color: var(--white-med);
            }
            /* active link */
            nav.mobile-container .container a.active {
                background-color: var(--main-light);
            }
            /* first link */
            nav.mobile-container .container a:first-child {
                display: flex;
                align-items: center;
                padding: 1em 1em 1em 1em;
                font-size: 1.5rem;
                justify-content: center;
                background-color: var(--grey-dark);
                color: var(--white-light);
            }
                /* first link image (avatar) */
                nav.mobile-container > nav.container > a > img#avatar {
                    height: 50px;
                    width: 50px;
                    margin-right: 0.5em;
                    border: 1px solid var(--grey-dark);
                    border-radius: 50%;
                }
                /* first link icon (x) */
                nav.mobile-container .container a:first-child > i {
                    margin-left: auto;
                }
            /* image */
            nav.mobile-container > .container > a > img#icon {
                width: 8%;
                margin-left: 1em;
            }          
            /* text */
            nav.mobile-container .container a:nth-child(n + 2) > h1 {
                margin-left: 1.5em;
            }
            /* last link (logout button) */
            nav.mobile-container .container a:last-child {
                display: flex;
                justify-content: center;
                margin: 10% 20% 0 20%;
                padding: 0.5em 2em 0.5em 2em;
                font-size: 1.5rem;
                border-radius: 30px;
                background-color: var(--grey-med);
                color: var(--white-light);
            }

/* media queries */

/* mobile */
@media only screen and (max-width:750px) {
    nav.mobile-container {
        display: flex;
    }
}
/* tablet to desktop */
@media only screen and (min-width:750px) {
    nav.desktop-container {
        display: flex;
    }
}