/* globals */
body {
    background-color: white;
}

/* nav container desktop */
nav.desktop-container {
    padding: 1em;
    background-color: var(--main-light);
    color: var(--grey-med);
    font-size: 1.4rem;
}
    /* nav separate container */
    nav.desktop-container nav.container {
        display: flex;
        justify-content: space-around;
    }
        /* first container first link (title) */
        nav.desktop-container nav.container:first-child a:first-child {
            flex: 2;
            font-size: 1.8rem;
        }
            /* first container last link (logout) */
            nav.desktop-container nav.container:first-child a:last-child {
                padding: 0.4em 1em 0.4em 1em;
                border-radius: 20px;
                background-color: white;
            }

        /* second container */
        nav.desktop-container nav.container:last-child {
            padding-top: 0.5em;
        }
            /* second container links */
            nav.desktop-container nav.container:last-child a {
                padding: 0.4em 1em 0.4em 1em;
                border-radius: 20px;
                background-color: white;
            }