/* body */
body {
    background-color: var(--white-medli);
}

/* hide footer graphic container */
div.container-graphic {
    display: none;
}

/* list container */
div.container-list {
    display: flex;
    flex-direction: column;
    width: clamp(10em, 94%, 50em);
    margin: 1em auto 1em auto;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    box-shadow: 0 0 1em var(--white-med);
    background-color: var(--white-light);
}
    /* first container (back button) */
    div.container-list > a[href="/list"] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        color: var(--grey-dark);
    }
        /* header text */
        div.container-list > a[href="/list"] > h1 {
            position: relative;
            z-index: 1;
            left: -0.3em;
            font-size: 1.6rem;
            margin: 0 auto 0 auto;
        }
        /* back arrow icon */
        div.container-list > a[href="/list"] > i {
            font-size: 1.4rem;
        }
    /* category */
    div.container-list > h2 {
        padding: 1em 0 0.5em 0;
        font-size: 1.5rem;
        color: var(--grey-dark);
        border-bottom: 1px solid var(--white-med);
    }
    /* list item container */
    div.container-list > div.container-item {
        display: flex;
    }
