/* body */
body {
    background-color: var(--white-medli);
}

/* header container */
div.container-header {
    display: flex;
    justify-content: center;
    padding: 4em 0 4em 0;
    background: linear-gradient(120deg, rgb(129, 222, 213) 0%, rgba(112,242,162,1) 36%);
}
    /* header text */
    div.container-header > h1 {
        font-size: 2.5rem;
        color: var(--white-light);
        text-shadow: 3px 3px var(--grey-light);
    }
/* list container */
div.container-lists {
    display: flex;
    flex-direction: column;
    width: clamp(10em, 98%, 50em);
    margin: 2em auto 0 auto;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    box-shadow: 0 0 1em var(--white-med);
    background-color: var(--white-light);
}
    /* list */
    div.container-lists > div.list {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        background-color: var(--white-light);
        color: var(--grey-dark);
        border-bottom: 1px solid var(--white-med);
        cursor: pointer;
    }
        /* list item */
        div.container-lists > div.list > a {
            width: 100%;
            padding: 1.3em;
            overflow: hidden;
            overflow-wrap: break-word;
        }
            /* hover list text */
            div.container-lists > div.list > a:hover {
                background-color: var(--white-medli);
            }
            /* list image */
            div.container-lists > div.list > img {
                height: 30px;
                width: 30px;
                padding: 1em;
            }
                /* hover list image */
                div.container-lists > div.list > img:hover {
                    background-color: var(--white-medli);
                }
    /* form container */
    div.container-lists > div.sub-list {
        display: none;
        flex-direction: column;
        padding: 2em 0 2em 0;
        font-size: 1.2rem;
        background-color: var(--white-light);
        color: var(--grey-dark);
        border-bottom: 1px solid var(--white-med);
    }
        /* form */
        div.sub-list > form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            /* text */
            div.sub-list > form > input[type="text"] {
                padding: 0.8em;
                font-size: 1rem;
                border-radius: 8px;
                border: 1px solid var(--white-med);
                background-color: var(--white-medli);
            }
            /* submit btn */
            div.sub-list > form > button[type="submit"] {
                margin-top: 2em;
                padding: 0.7em 3em 0.7em 3em;
                border: 0;
                font-size: 0.9rem;
                border-radius: 8px;
                background-color: var(--main-med);
                color: var(--white-light);
                cursor: pointer;
            }
            /* delete btn */
            div.sub-list > form > button[type="submit"]#del-list {
            background-color: rgb(209, 67, 67);
        }
/* add container toggle */
div.container-add-btn {
    z-index: 9;    
    position: fixed;
    bottom: 3em;
    display: flex;
    justify-content: center;
    width: 100%;
}
    /* add button */
    div.container-add-btn > img#add-btn{   
        height: 30px;
        width: 30px;
        padding: 1em;
        background-color: var(--main-med);
        border-radius: 50%;
        cursor: pointer;
        rotate: 0deg;
        transition: rotate 0.2s ease-in-out;
    }
/* add container */
div#container-add {
    z-index: 8;  
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    background-color: var(--white-medli);
}
    /* form container */
    div#container-add > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        width: clamp(10em, 94%, 50em);
        margin: 1em auto 1em auto;
        padding: 1em;
        border-radius: 20px;
        box-shadow: 0 0 1em var(--white-med);
        background-color: var(--white-light);
    }
        /* header text */
        div#container-add > form > h1 {
            font-size: 1.8rem;
            color: var(--grey-dark);
            margin: 1em 0 2em 0;
        }
        /* text input */
        div#container-add > form > input[type="text"], input[type="password"]{
            padding: 0.8em 6em 0.8em 0.8em;
            font-size: 1rem;
            border-radius: 8px;
            border: 1px solid var(--white-med);
            background-color: var(--white-medli);
        }
        /* submit button */
        div#container-add > form > button[type="submit"]{
            margin-top: 2em;
            padding: 0.7em 3em 0.7em 3em;
            border: 0;
            font-size: 1.1rem;
            border-radius: 8px;
            background-color: var(--main-med);
            color: var(--white-light);
            cursor: pointer;
        }