/* body */
body {
    background-color: var(--white-medli);
}

/* hide footer graphic container */
div.container-graphic {
    display: none;
}

/* list container */
div.container-list {
    display: flex;
    flex-direction: column;
    width: clamp(10em, 98%, 50em);
    margin: 1em auto 1em auto;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    box-shadow: 0 0 1em var(--white-med);
    background-color: var(--white-light);
}
    /* first container (back button) */
    div.container-list > a[href="/list"] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        color: var(--grey-dark);
    }
        /* header text */
        div.container-list > a[href="/list"] > h1 {
            position: relative;
            z-index: 1;
            left: -0.3em;
            font-size: 1.6rem;
            margin: 0 auto 0 auto;
        }
        /* back arrow icon */
        div.container-list > a[href="/list"] > i {
            font-size: 1.4rem;
        }
    /* category */
    div#listdata-get > h1 {
        padding: 1em 0 0.5em 0.5em;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--grey-light);
    }
    /* list item container */
    div#listdata-get > div.container-item {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        border-bottom: 1px solid var(--white-med);
    }
        /* item amount */
        div#listdata-get > div.container-item > h2 {
            padding-left: 0.5em;
            color: var(--main-dark);
        }
        /* item text */
        div#listdata-get > div.container-item > h3 {
            flex: 2;
            padding-left: 0.5em;
            color: var(--grey-dark);
            overflow: hidden;
            overflow-wrap: break-word;
        }
            /* item note */
            div#listdata-get > h4 {
                padding: 0.5em;
                font-size: 1rem;
                color: var(--main-dark);
                border-bottom: 1px solid var(--white-med);
                overflow: hidden;
                overflow-wrap: break-word;
            }
        /* item trashcan */
        div#listdata-get > div.container-item > form#item-del > button {
            background: none;
            border: 0;
        }
        div#listdata-get > div.container-item > form#item-del > button > img {
                height: 30px;
                width: 30px;
                padding: 0.5em;
                cursor: pointer;
            }