/* body */
body {
    background-color: var(--white-medli);
}

/* main container */
main.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    width: clamp(10em, 100%, 80em);
    margin: 0 auto 0 auto;
    background-color: var(--white-light);
}
/* recipe container */
main.container > div.container-recipes {
    display: flex;
    flex-direction: column;
}
    /* first link (back to recipes) */
    main.container > div.container-recipes > a:first-child {
        display: flex;
        align-items: center;
        padding: 1em;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--grey-light);
    }
        /* first link back icon */
        main.container > div.container-recipes > a:first-child > i {
            font-size: 1.5rem;
            padding-right: 1em;
        }
        /* header text */
        main.container > div.container-recipes > h1 {
            padding: 1em;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 900;
            color: var(--grey-dark);
        }
    /* card conatiner */
    main.container > div.container-recipes > div.recipe-card {
        display: flex;
        flex-direction: row;
    }
       /* image */
       main.container > div.container-recipes > div.recipe-card > img {
            width: 30%;
        }

/* hide footer graphic container */
div.container-graphic {
    margin-top: 1em;
}

/* mobile */
@media only screen and (min-width:750px) {
    div.container-recipe-nav {
        justify-content: center;
    }
    /* image */
    main.container > div.container-recipes > div.recipe-card > img {
        width: 20%;
    }
}