/* body */
body {
    background-color: var(--white-medli);
}

/* header container */
div.container-header {
    display: flex;
    justify-content: center;
    padding: 3em 0 2em 0;
}
    /* header text */
    div.container-header > h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        color: var(--main-med);
        text-shadow: 2px 4px var(--main-light);

    }
/* search container */
div.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(10em, 100%, 50em);
    margin: 1em auto 0 auto;
}
    /* search form */
    div.container-search > form#search-form {
        display: flex;
        align-items: center;
        width: 100%;
    }
        /* input text*/
        div.container-search > form#search-form > input[type="text"] {
            width: 100%;
            margin-left: 1.5em;
            padding: 0.8em;
            font-size: 1.2rem;
            border-radius: 10px;
            border: 1px solid var(--white-med);
            background-color: var(--white-light);
        }
        /* submit button (search) */
        div.container-search > form#search-form > button {
            border: 0;
            background: none;
        }
            /* image */
            div.container-search > form#search-form > button > img {
                position: relative;
                right: 40px;
                width: 25px;
                cursor: pointer;
            }
/* recipe nav container */
div.container-recipe-nav {
    display: flex;
    gap: 2em;
    width: clamp(10em, 96%, 80em);
    margin: 0 auto 0 auto;
    padding: 3em 0 2em 0;
    overflow-x: scroll;
    scrollbar-width: none;
}
    /* hide scrollbar link */
    div.container-recipe-nav::-webkit-scrollbar {
        display: none;
    }
    /* each link */
    div.container-recipe-nav > a {
        white-space: nowrap;
        padding: 1em;
        font-weight: 700;
        color: var(--grey-med);
        border-radius: 10px;
        border: 1px solid var(--white-med);
        box-shadow: 0 0 1em var(--white-med);
        background-color: var(--white-light);
    }
        /* hover link */
        div.container-recipe-nav > a:hover {
            background-color: var(--white-med);
        }
/* recipe container */
div.container-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    width: clamp(10em, 100%, 80em);
    margin: 0 auto 0 auto;
    padding: 4em 0 4em 0;
    border-radius: 20px;
    box-shadow: 0 0 1em var(--white-med);
    background-color: var(--white-light);
}
    /* recipe card */
    div.container-recipes > a.card-recipe {
        width: clamp(10em, 100%, 20em);
        margin: 0 1em 0 1em;
        position: relative;
        border: 1px solid var(--white-med);
        border-radius: 10px;
        box-shadow: 0 0 1em var(--white-med);
        cursor: pointer;
    }
        /* recipe card hover */
        div.container-recipes > a.card-recipe:hover {
            background-color: var(--white-med);
        }
        /* heart icon */
        div.container-recipes > a.card-recipe > i.fa-heart {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 0.4em;
            font-size: 2rem;
            border-radius: 50%;
            color: var(--grey-dark);
            background-color: var(--main-light);
        }
            /* heart icon hover */
            div.container-recipes > a.card-recipe > i.fa-heart:hover {
                background-color: var(--main-med);
                color: var(--white-light);
            }
        /* image */
        div.container-recipes > a.card-recipe > img {
            height: clamp(10em, 100%, 20em);
            width: clamp(10em, 100%, 20em);
            border-radius: 10px 10px 0 0;
        }
        /* category (h1) */
        div.container-recipes > a.card-recipe > h1 {
            padding: 0.5em;
            padding-bottom: 0;
            font-size: 1.3rem;
            font-weight: 700;
            color: var(--grey-light);
            overflow-wrap: break-word;
        }
        /* recipe (h2) */
        div.container-recipes > a.card-recipe > h2 {
            padding: 0.5em;
            padding-bottom: 1em;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--grey-dark);
            overflow-wrap: break-word;
        }
        /* description (h3) */
        div.container-recipes > a.card-recipe > h3 {
            display: none;
            height: 0;
            padding: 0.5em;
            padding-bottom: 1em;
            font-size: 1rem;
            font-weight: 700;
            color: var(--grey-med);
            overflow-wrap: break-word;
        }
            /* hover description */
            div.container-recipes > a.card-recipe:hover > h3 {
                display: block;
                height: 100%;
            }

/* mobile */
@media only screen and (min-width:750px) {
    div.container-recipe-nav {
        justify-content: center;
    }
}