/* file for root color scheme */

:root {
    /* main scheme */
    --main-dark: #4b7a42;
    --main-med: #5fab52;
    --main-light: #a1e294;

    /* grey */
    --grey-dark: #3c475f;
    --grey-med: #6c7996;
    --grey-light: #8792ab;

    /* whites */
    --white-med: #d3d8df;
    --white-medli: #f0f0f0;
    --white-light: #ffffff;

    /* transparent */
    --flash-msg: rgba(93, 91, 86, 0.9);
}