/* file for root color scheme */

:root {
    /* main scheme */
    --main-dark: #4b7a42;
    --main-med: #42b62e;
    --main-light: #99db8c;

    /* grey */
    --grey-dark: #3c475f;
    --grey-med: #6c7996;
    --grey-light: #8792ab;

    /* whites */
    --white-med: #d3d8df;
    --white-light: #ffffff;
}