/* login container */
div.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* text */
div.login-container > h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue-dar);
}

/* login form */
form.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: clamp(1em, 80%, 30em);
    padding: 1em 1em 3em 1em;
    border: 1px solid var(--grey-med);
    overflow: hidden;
}

    /* inputs */
    form.login-form > input[type="text"] {
        width: 90%;
        padding: 0.8em;
        font-size: 1rem;
        border: 1px solid var(--grey-li);
    }

    /* labels */
    form.login-form > label {
        font-size: 0.9rem;
        color: var(--grey-med);
        align-self: flex-start;
    }

    /* form flex */
    form.login-form > div.form-flex {
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        width: 100%;
        padding: 1em;
        overflow: hidden;
    }

    /* h1 text */
    form.login-form > h1 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--blue-med);
    }

    /* h2 text */
    form.login-form h2 {
        display: flex;
        width: 100%;
        font-size: 1rem;
        color: var(--grey-med);
    }
        /* hr text */
        form.login-form h2 > hr {
            width: 100%;
            margin-left: 0.5em;
            margin-right: 0.5em;
            color: var(--white-li);
        }