{% extends "layout.html" %}

<!-- head content -->
{% block title %}Account Settings{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/accntsettings.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <a href="/"><h1>Settings</h1><i class="fa-solid fa-chevron-left"></i></a>
        <div class="header">
            <img src="{{ user['avatar_path'] }}"></img>
            <h1>Username: {{ user["username"] }}</h1>
        </div>
        <button class="section">
            <i class="fa-solid fa-user"></i>
            <h1>Account</h1>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="section-dropdown">
                <a href=""><h1>Account Settings</h1><i class="fa-solid fa-chevron-left"></i></a>
                <form action="/accntsettings" method="post" enctype="multipart/form-data">
                    <h1>Change Avatar</h1>
                    <input type="file" name="avatarFile">
                    <input type="submit" value="Submit"></input>
                </form>
                <form action="/accntsettings" method="post" enctype="multipart/form-data">
                    <h1>Change Username</h1>
                    <input name="userName" type="text" placeholder="New Username" pattern="^[a-zA-Z0-9]*$" title="Only use letters and numbers" autocomplete="off" />
                    <input type="submit" value="Submit"></input>
                </form>
            </div>
        </button>
        <button class="section">
            <i class="fa-solid fa-lock"></i>
            <h1>Privacy</h1>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="section-dropdown">
                <a href=""><h1>Privacy Settings</h1><i class="fa-solid fa-chevron-left"></i></a>
                <form action="/accntsettings" method="post" enctype="multipart/form-data">
                    <h1>Change Password</h1>
                    <input name="userPass" type="password" placeholder="New Password" pattern="^[a-zA-Z0-9$%#@!]*$" title="Only use letters, numbers and ($, %, #, @, !)" autocomplete="off"  />
                    <input name="userPassConfirm" type="password" placeholder="Confirm Password" pattern="^[a-zA-Z0-9$%#@!]*$" title="Only use letters, numbers and ($, %, #, @, !)" autocomplete="off"  />
                    <input type="submit" value="Submit"></input>
                </form>
            </div>
        </button>
    </main>

{% endblock %}