{% extends "layout.html" %}

<!-- head content -->
{% block title %}Account Settings{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/accntsettings.css" />{% endblock %}
{% block js %}<script src="../static/js/settings.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <a href="/">
            <i class="fa-solid fa-chevron-left"></i>
            <h1>Settings</h1>
        </a>
        <div class="header">
            <img src="/{{ user['avatar_path'] }}"></img>
            <h1>Username: {{ user["username"] }}</h1>
        </div>

        <div class="settings-item"><img src="../static/images/icons/icon-user.svg"><h1>Account</h1><i id="set-btn" class="fa-solid fa-chevron-right"></i></div>
        <div class="settings-container-parent">
            <div class="settings-container-child">
                <a href="/accntsettings">
                    <i class="fa-solid fa-chevron-left"></i>
                    <h1>Account Settings</h1>
                </a>
                <form action="/accntsettings" method="post" enctype="multipart/form-data">
                    <h1>Change Avatar</h1>
                    <label for="file" class="btn">Select Image</label>
                    <input id="file" name="avatarFile" style="visibility:hidden;" type="file">
                    <button type="submit">Submit</button>
                </form>
                <form action="/accntsettings" method="post" enctype="multipart/form-data" onsubmit="userConfirmAct(event, 'change')">
                    <h1>Change Username</h1>
                    <input name="userName" type="text" placeholder="New Username" pattern="^[a-zA-Z0-9]*$" title="Only use letters and numbers" autocomplete="off" />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="settings-item"><img src="../static/images/icons/icon-lock.svg"><h1>Privacy</h1><i id="set-btn" class="fa-solid fa-chevron-right"></i></div>
        <div class="settings-container-parent">
            <div class="settings-container-child">
                <a href="/accntsettings">
                    <i class="fa-solid fa-chevron-left"></i>
                    <h1>Privacy Settings</h1>
                </a>
                <form action="/accntsettings" method="post" enctype="multipart/form-data" onsubmit="userConfirmAct(event, 'change')">
                    <h1>Change Password</h1>
                    <input name="userPass" type="password" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off"  />
                    <input name="userPassConfirm" type="password" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off"  />
                    <button type="submit">Submit</button>
                </form> 
            </div>
        </div>
    </main>
{% endblock %}