{% extends "layout.html" %}

<!-- head content -->
{% block title %}Account Settings{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/accntsettings.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <a href="/">
            <i class="fa-solid fa-chevron-left"></i>
            <h1>Settings</h1>
        </a>
        <div class="header">
            <img src="{{ user['avatar_path'] }}"></img>
            <h1>Username: {{ user["username"] }}</h1>
        </div>
    </main>

{% endblock %}