{% extends "layout.html" %}

<!-- head content -->
{% block title %}Homepage{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/home.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <div class="container-header">
            <h1>Hello, {{ user["username"] }}!</h1>
            <object data="/static/images/graphic/graphic-basket.svg"></object>
        </div>
        <div class="container-home-link">
            <a href="/list" class="a-space"><img src="../static/images/icons/icon-list.svg"></a>
            <a href="/recipes" class="a-space"><img src="../static/images/icons/icon-book.svg"></a>
            <a href="/mealplanner" class="a-space"><img src="../static/images/icons/icon-calendar.svg"></a>
            <a href="/accntsettings" class="a-space"><img src="../static/images/icons/icon-cog.svg"></a>
        </div>
        <div class="container-stats">
            <h1>Today's Meal</h1>
            <div class="container-data">
                <div class="container-data-card">
                    <h1>{{ curMeal["month"] }} {{ curMeal["day"] }}</h1>
                    <h2>{{ curMeal["meal"] }}</h2>
                </div>
            </div>
            <h1>Statistics</h1>
            <div class="container-data">
                <h1>Grocery List</h1>
                <div class="container-data-card">
                    <h1>Total Items in All Lists</h1>
                    <h2>{{ grocery[1]["itemCount"] }}</h2>
                </div>
                <div class="container-data-card">
                    <h1>Amount of Lists</h1>
                    <h2>{{ grocery[0]["listCount"] }}</h2>
                </div>
                <div class="container-data-card">
                    <h1>Last Change Made</h1>
                    <h2>{{ grocerytime }}</h2>
                </div>
                <h1>Recipes</h1>
                <div class="container-data-card">
                    <h1>Created Recipes</h1>
                    <h2></h2>
                </div>
                <div class="container-data-card">
                    <h1>Saved Recipes</h1>
                    <h2></h2>
                </div>
                <div class="container-data-card">
                    <a href="/accntsettings"><img src="../static/images/icons/icon-cog.svg"><h1 style="font-weight: 700;color: var(--grey-med);">Settings</h1></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}