{% extends "layout.html" %}

<!-- head content -->
{% block title %}Homepage{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/home.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <div class="container-header">
            <h1>Hello, {{ user["username"] }}!</h1>
            <object data="/static/images/graphic/graphic-basket.svg"></object>
        </div>
        <div class="container-stats">
            <h1>Today's Meal</h1>
            <div class="container-data">
                <div class="container-data-card">
                    <div style="border: 0;">
                        <h1>December 12</h1>
                        <h2>Leftovers</h2>
                    </div>
                </div>
            </div>
            <h1>Statistics</h1>
            <div class="container-data">
                <h1>Grocery List</h1>
                <div class="container-data-card">
                    <div>
                        <h1>Items in List</h1>
                        <h2>12</h2>
                    </div>
                    <div>
                        <h1>Amount of lists</h1>
                        <h2>2</h2>
                    </div>
                </div>
                <div class="container-data-card">
                    <div style="border: 0;">
                        <h1>Total Changes Made</h1>
                        <h2>344</h2>
                    </div>
                </div>
                <div class="container-data-card">
                    <div style="border: 0;">
                        <h1>Last Change Made</h1>
                        <h2>12:00:12 pm</h2>
                    </div>
                </div>
                <h1>Recipes</h1>
                <div class="container-data-card">
                    <div>
                        <h1>My Recipes</h1>
                        <h2>3</h2>
                    </div>
                    <div>
                        <h1>Saved Recipes</h1>
                        <h2>12</h2>
                    </div>
                </div>
                <h1></h1>
                <div class="container-data-card">
                    <div style="border: 0;">
                        <a href="/accntsettings"><h1>Settings</h1><i class="fa-solid fa-gear"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}