{% extends "layout.html" %}

<!-- head content -->
{% block title %}Homepage{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/home.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <div class="container">
            <h1>Hello, {{ user["username"] }}!</h1>
            <object data="../static/images/images/graphic-basket.svg"></object>
        </div>
        <div class="container">
            <h1>Today's Meal</h1>
            <div class="card-container">
                <div class="card-vertical">
                    <h1>Tuesday</h1>
                    <h2>11/23</h2>
                </div>
                <h3>Leftovers</h3>
            </div>
            <h1>Statistics</h1>
            <div class="card-stats">
                <h1>Grocery List</h1>
                <div class="card">
                    <h2>Items in all Lists</h2>
                    <h3>13</h3>
                </div>
                <div class="card">
                    <h2>Amount of Lists</h2>
                    <h3>3</h3>
                </div>
                <div class="card">
                    <h2>Last Change</h2>
                    <h3>09:28:23am</h3>
                </div>
            </div>
            <div class="card-stats">
                <h1>Recipes</h1>
                <div class="card">
                    <h2>Your Recipes</h2>
                    <h3>13</h3>
                </div>
                <div class="card">
                    <h2>Saved Recipes</h2>
                    <h3>3</h3>
                </div>
            </div>
        </div>
    </main>
{% endblock %}