<html>
<head>
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <!-- JS -->
</head>
<body>
    <nav class="mobile-container">

    </nav>
    <nav class="desktop-container">
        <nav class="container">
            <a>Grocery Web App</a>
            <a href="">Logout</a>
        </nav>
        <nav class="container">
            <a href="/">Home</a>
            <a href="">List</a>
            <a href="">Recipes</a>
            <a href="">Calendar</a>
        </nav>
    </nav>
</body>
</html>