<html>
<head>
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <!-- JS -->
</head>
<body>
    <nav class="mobile-container">

    </nav>
    <nav class="desktop-container">
        <h1>Grocery Web App</h1>
        <h1>Home</h1>
        <h1>List</h1>
        <h1>Recipes</h1>
        <h1>Calendar</h1>
        <h1>Logout</h1>
    </nav>
</body>
</html>