<html>
<head>
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/root.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <!-- JS -->
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="mobile-container">
        <a>Grocery Web App</a>
        <button><i class="fa-solid fa-bars"></i></button>
        <nav class="container">
            <a><h1>Hello, Username!</h1><i class="fa-solid fa-xmark"></i></a>
            <a href="/"><img src="../static/images/icons/icon-house.svg"><h1>Home</h1></a>
            <a href=""><img src="../static/images/icons/icon-list.svg"><h1>Lists</h1></a>
            <a href=""><img src="../static/images/icons/icon-book.svg"><h1>Recipes</h1></a>
            <a href=""><img src="../static/images/icons/icon-calendar.svg"><h1>Calendar</h1></a>
            <a></a>
            <a href="">Account Settings</a>
            <a href="">Logout</a>
        </nav>
    </nav>
    <nav class="desktop-container">
        <a>Grocery Web App</a>
        <a href="/">Home</a>
        <a href="">List</a>
        <a href="">Recipes</a>
        <a href="">Calendar</a>
        <a href="">Settings</a>
        <a href="">Logout</a>
    </nav>
</body>
</html>