{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Viewer{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/listview.css" />{% endblock %}
{% block js %}<script src="../static/js/list.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        {% if listdata %}
        <a href="/list"><i class="fa-solid fa-chevron-left"></i></a>
           <div id="container-list"></div>
            <!-- send list data -->
            <script type="text/javascript">
                var listdata = {{ listdata|tojson }}
            </script>
            </div>
        {% elif listdata == None %}
            <a href="/list"><i class="fa-solid fa-chevron-left"></i></a>
            <div id="container-list">
                <h1 style="text-align: center;font-size: 2rem;">EMPTY LIST</h1>
            </div>
        {% endif %}
    </main>
    <div class="container-adder">
        <i id="addToggle" class="fa-solid fa-circle-plus"></i>
        <div id="container-add-form">
            <form id="addForm" action="/listview/add" method="post">
                <h1>Add New Item</h1>
                <h2>Item Name</h2>
                <input name="dataItem" type="text" placeholder="Item" pattern="^[a-zA-Z ]*$" title="Only use letters and Spaces" autocomplete="off" autofocus />
                <h2>Item Note (optional)</h2>
                <input name="dataNote" type="text" placeholder="Note" pattern="^[a-zA-Z ]*$" title="Only use letters and Spaces" autocomplete="off" autofocus />
                <h2>Item Amount</h2>
                <input name="dataAmount" type="text" placeholder="Amount" pattern="^[0-9]*$" title="Only use numbers" autocomplete="off" autofocus />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>

{% endblock %}