{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Database{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/list.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <div class="container">
            <h1>List Database</h1>
        </div>
        {% if list %}
            <div class="container">
            {% for i in list %}
                <form method="post" action="/list">
                    <button name="nameTitle" type="submit" value="{{ i['title'] }}" >{{ i['title'] }}</button>
                </form>
            {% endfor %}
            </div>
        {% endif %}
        {% if listdata %}
        <div class="container">
            <a href="/list">Go back</a>
            {% for i in listdata %}
            <hr>
                <h1>Category: {{ i["category"] }}</h1>
                <h1>Item: {{ i["item"] }}</h1>
                <h1>Note: {{ i["note"] }}</h1>
                <h1>Amount: {{ i["amount"] }}</h1>
            <hr>
            {% endfor %}
            </div>
        {% endif %}
    </main>

{% endblock %}