{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Database{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/list.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        {% if list %}
        <div class="container">
            <h1>List Database</h1>
        </div>
        {% else %}
        <div class="container" style="padding: 0;">
        </div>
        {% endif %}
        {% if list %}
            <div class="container-controls">
                <i class="fa-solid fa-plus"></i>
                <form method="post" action="/list">
                    <h1>Add a new List</h1>
                    <input name="listTitle" type="text" placeholder="Title" pattern="^[a-zA-Z]*$" title="Only use letters" autocomplete="off" autofocus />
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="container">
            <h1>Your Lists</h1>
            {% for i in list %}
                <form method="post" action="/list">
                    <button name="nameTitle" type="submit" value="{{ i['title'] }}" >{{ i['title'] }}</button>
                </form>
            {% endfor %}
            </div>
        {% endif %}
        {% if listdata %}
        <div class="container">
            <a href="/list">Go back</a>
            {% for i in listdata %}
            <hr>
                <h1>Category: {{ i["category"] }}</h1>
                <h1>Item: {{ i["item"] }}</h1>
                <h1>Note: {{ i["note"] }}</h1>
                <h1>Amount: {{ i["amount"] }}</h1>
            <hr>
            {% endfor %}
            </div>
        {% endif %}
    </main>

{% endblock %}