{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Database{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/listview.css" />{% endblock %}
{% block js %}<script src="../static/js/listview.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        {% if listdata %}
        <a href="/list"><i class="fa-solid fa-chevron-left"></i></a>
           <div id="container-list"></div>
            <!-- send list data -->
            <script type="text/javascript">
                var listdata = {{ listdata|tojson }}
            </script>
            </div>
        {% elif listdata == None %}
            <div class="container">
                <a href="/list">Go back</a>
                <div id="container-list">
                    <h1>EMPTY LIST</h1>
                </div>
            </div>
        {% endif %}
    </main>

{% endblock %}