{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Viewer{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/listview.css" />{% endblock %}
{% block js %}<script src="../static/js/listview.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <script>
        var listdata = {{ listdata|tojson }}
    </script>
    <main class="container">
        <div class="container-list">
            <a href="/list">
                <i class="fa-solid fa-chevron-left"></i>
                {% if listdata %}
                    <h1>{{ listdata[0]["title"] }}</h1>
                    {% else %}
                    <h1>Empty List</h1>
                {% endif %}
            </a>
            <div id="listdata-get"></div>
        </div>
    </main>

{% endblock %}