{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Database{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/list.css" />{% endblock %}
{% block js %}<script src="../static/js/list.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <div class="container-header">
            <h1>Stored Lists</h1>
        </div>
        <div class="container-lists">
            {% if not list %}
                <div class="list">
                    <a>No Lists Found</a>
                </div>
            {% else %}
                {% for i in list %}
                    <div class="list">
                        <a href="/listview/{{ i['title'] }}{{ i['id'] }}">{{ i["title"] }}</a>
                        <img id="set-btn" src="../static/images/icons/icon-edit.svg">
                    </div>
                    <div class="sub-list">
                        <form action="/listmod" method="post" onsubmit="userConfirmAct(event, 'change')">
                            <input name="listID" value="{{ i['id'] }}" hidden>
                            <input name="listEdit" type="text" placeholder="New Title" pattern="^[a-zA-Z0-9][a-zA-Z0-9 ]*$" title="Only use letters, numbers, and spaces" autocomplete="off" />
                            <button type="submit">Change</button>
                        </form>
                        <form action="/listmod" method="post" onsubmit="userConfirmAct(event, 'delete')">
                            <input name="listID" value="{{ i['id'] }}" hidden>
                            <button name="listDel" id="del-list" type="submit" >Delete List</button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </main>

{% endblock %}