{% extends "layout.html" %}

<!-- head content -->
{% block title %}Login{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/login.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- main content -->
{% block main %}
    <main class="container">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <input name="userName" type="text" placeholder="Username" />
            <input name="userPass" type="password" placeholder="Password" />
            <button type="submit">Login</button>
        </form>
    </main>
{% endblock %}