{% extends "layout.html" %}

<!-- head content -->
{% block title %}Login{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/login.css" />{% endblock %}
{% block js %}{% endblock %}

<!-- main content -->
{% block main %}
    <main class="container">
        <div class="container-login">
            <h1>Grocery Central</h1>
            <h2>Welcome to the Grocery Central</h2>
            <form method="POST" action="/login">
                <input name="userName" type="text" placeholder="Username" pattern="^[a-zA-Z0-9]*$" title="Only use letters and numbers" autocomplete="off" autofocus />
                <input name="userPass" type="password" placeholder="Password" pattern="^[a-zA-Z0-9$%#@!]*$" title="Only use letters, numbers and ($, %, #, @, !)" autocomplete="off" autofocus />
                <button type="submit" autofocus>Login</button>
            </form>
        </div>
    </main>
{% endblock %}