{% extends "layout.html" %}

<!-- head content -->
{% block title %}Saved Recipes | Grocery Central{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipesaved.css" />{% endblock %}
{% block js %}<script src="../static/js/recipesuser.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container" style="overflow: hidden;">
        <div class="container-recipes">
            <a href="/recipes">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Return</h1>
            </a>
            <h1>Saved Recipes</h1>
            {% if recipe %}
                {% for i in recipe %}
                <a href="recipesview?recipe={{ i['recipe_name'] }}&id={{ i['recipe_id'] }}" class="recipe-card">
                    <img src="{{ i['image_path'] }}">
                    <div class="card-col">
                        <h1>{{ i["category"]}}</h1>
                        <h2>{{ i["recipe_name"] }}</h2>
                    </div>
                </a>
                {% endfor %}
            {% else %}
            <h1 style="color: var(--grey-med)">No Recipes Saved!</h1>
            {% endif %}
        </div>
    </main>
{% endblock %}