{% extends "layout.html" %}

<!-- head content -->
{% block title %}Recipe Edit{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipesview.css" />{% endblock %}
{% block js %}<script src="../static/js/.js"></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container" style="overflow: hidden;">
        <div class="container-recipe">
            <a href="/recipes">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Return</h1>
            </a>
            <h1>{{ recipe["recipe_name"] }}</h1>
            <h2>{{ recipe["course"] }} / {{ recipe["category"] }}</h2>
            <h4>Created By: {{ recipe["username"] }}</h4>
            <h3>{{ recipe["description"] }}</h3>
            <img src="{{ recipe['image_path'] }}">
            <div class="container-list">
                <h1>Ingredients</h1>
                {% for i in ingredients %}
                <h2>{{ i["ingredient_name"] }} {{ i["ingredient_measure"] }}</h2>
                {% endfor %}
            </div>
            <div class="container-list">
                <h1>Instructions</h1>
                {% for i in instructions %}
                <h2>Step {{ loop.index }}: {{ i["instructions_name"] }}</h2>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}