{% extends "layout.html" %}

<!-- head content -->
{% block title %}Recipe Edit{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipesuser.css" />{% endblock %}
{% block js %}<script src="../static/js/recipesuser.js" defer></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container" style="overflow: hidden;">
        <div class="container-recipes">
            <a href="/recipes">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Return</h1>
            </a>
            <h1>My Recipes</h1>
            <h2>(To edit, double click recipe)</h2>
            {% if recipe %}
                {% for i in recipe %}
                <div class="recipe-card" value="{{ i['recipe_id'] }}" ondblclick="editRecipe('{{ i['recipe_id'] }}')">
                    <img src="{{ i['image_path'] }}">
                    <div class="card-col">
                        <h1>{{ i["category"]}}</h1>
                        <h2>{{ i["recipe_name"] }}</h2>
                        <div class="card-btns">
                            <img src="/static/images/icons/icon-heart.svg">
                            <h2>{{ i["saved_amount"] }}</h2>
                            <form action="/recipesmod" method="post" onsubmit="userConfirmAct(event, 'delete')">
                                <input name="recipeDelete" value="{{ i['recipe_id'] }}" hidden > 
                                <input type="image" src="/static/images/icons/icon-trash.svg">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h1 style="color: var(--grey-med)">No Recipes Found! Create Some!</h1>
            {% endif %}
        </div>
    </main>
    <div id="container-edit"></div>
    <script>var data = {{ recipe | tojson }}; var instructions = {{ instructions | tojson }}; var ingredients = {{ ingredients | tojson }};  </script>

{% endblock %}