{% extends "layout.html" %}

<!-- head content -->
{% block title %}Recipe Edit{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipesedit.css" />{% endblock %}
{% block js %}<script src="../static/js/.js"></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container" style="overflow: hidden;">
        <div class="container-recipe">
            <a href="/recipes">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Return</h1>
            </a>
            <form action="/recipesmod" method="post" onsubmit="userConfirmAct(event, 'edit')">
                <input name="recipeID" value="{{ recipe['recipe_id'] }}" hidden>
                <input name="recipeName" value="{{ recipe['recipe_name'] }}" hidden>
                <h1>Recipe Name:</h1>
                <input name="recipeEditTitle" type="text" placeholder="{{ recipe['recipe_name'] }}" pattern="^[a-zA-Z][a-zA-Z ]*$" title="Only use letters">
                <h1>Course:</h1>
                <input name="recipeEditCourse" type="text" placeholder="{{ recipe['course'] }}" pattern="^[a-zA-Z][a-zA-Z ]*$" title="Only use letters">
                <h1>Category:</h1>
                <input name="recipeEditCategory" type="text" placeholder="{{ recipe['category'] }}" pattern="^[a-zA-Z][a-zA-Z ]*$" title="Only use letters">
                <h1>Description:</h1>
                <textarea name="recipeEditDescription" id="recipe_description" type="text" pattern="^[a-zA-Z0-9][a-zA-Z0-9!?.,` ]*$" title="Don't use Non-Puncuation">{{ recipe['description'] }}</textarea>
                <button type="submit">Save Changes</button>
            </form>
            <img src="{{ recipe['image_path'] }}">
            <div class="container-list">
                <h1>Ingredients</h1>
                {% for i in ingredients %}
                <h2>{{ i["ingredient_name"] }} {{ i["ingredient_measure"] }}</h2>
                {% endfor %}
            </div>
            <div class="container-list">
                <h1>Instructions</h1>
                {% for i in instructions %}
                <h2>Step {{ loop.index }}: {{ i["instructions_name"] }}</h2>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}