{% extends "layout.html" %}

<!-- head content -->
{% block title %}Recipes{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipes.css" />{% endblock %}
{% block js %}<script src="../static/js/.js"></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container" style="overflow: hidden;">
        <div class="container-header">
            <h1>Recipes</h1>
        </div>
        <div class="container-search">
            <form id="search-form">
                <input type="text" placeholder="Search Recipes">
                <button type="submit"><img type="submit" src="/static/images/icons/icon-search.svg"></button>
            </form>
        </div>
        <div class="container-recipe-nav">
            <a href="/recipes">My Recipes</a>
            <a href="/recipes">Create Recipe</a>
            <a href="/recipes">Saved Recipes</a>
        </div>
        <div class="container-recipes">
            {% for i in recipelist %}
                <a href="recipesview?recipe={{ i['recipe_name'] }}&id={{ i['recipe_id'] }}" class="card-recipe">
                    <div id="heart-btn" class="btn-style">
                        <img src="/static/images/icons/icon-heart.svg">
                    </div>
                    <img src="{{ i['image_path'] }}">
                    <h1>{{ i["category"]}}</h1>
                    <h2>{{ i["recipe_name"] }}</h2>
                    <h3>{{ i["description"] }}</h3>
                </a>
            {% endfor %}
            <!-- <a class="card-recipe">
                <i class="fa-regular fa-heart"></i>
                <img src="/static/images/recipes/graphic-recipe.svg">
                <h1>Greek</h1>
                <h2>Corndog</h2>
                <h3>Yummy</h3>
            </a> -->
        </div>
    </main>

{% endblock %}