{% extends "layout.html" %}

<!-- head content -->
{% block title %}List Database{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipes.css" />{% endblock %}
{% block js %}<script src="../static/js/.js"></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container">
        <div class="container-header">
            <h1>Recipes</h1>
        </div>
        <div class="container-search">
            <form id="search-form">
                <input type="text" placeholder="Search Recipes">
                <button type="submit"><img type="submit" src="/static/images/icons/icon-search.svg"></button>
            </form>
        </div>
        <div class="container-recipes">
            <div class="card-recipe">
                <img src="/static/images/recipes/graphic-recipe.svg">
                <h1>Healthy</h1>
                <h2>Lasagna</h2>
            </div>
            <div class="card-recipe">
                <img src="/static/images/recipes/graphic-recipe.svg">
                <h1>Healthy</h1>
                <h2>Lasagna</h2>
            </div>
            <div class="card-recipe">
                <img src="/static/images/recipes/graphic-recipe.svg">
                <h1>Healthy</h1>
                <h2>Lasagna</h2>
            </div>
            <div class="card-recipe">
                <img src="/static/images/recipes/graphic-recipe.svg">
                <h1>Healthy</h1>
                <h2>Lasagna</h2>
            </div>
            <div class="card-recipe">
                <img src="/static/images/recipes/graphic-recipe.svg">
                <h1>Healthy</h1>
                <h2>Lasagna</h2>
            </div>
        </div>
    </main>

{% endblock %}