{% extends "layout.html" %}

<!-- head content -->
{% block title %}{{ recipe["recipe_name"] }} | Grocery Central{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/recipesview.css" />{% endblock %}
{% block js %}<script src="../static/js/.js"></script>{% endblock %}

<!-- add username to nav -->
{% block username %}{{ user["username"] }}{% endblock %}

<!-- main content -->
{% block main %}

    <main class="container" style="overflow: hidden;">
        <div class="container-recipe">
            <a href="/recipes">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Recipes</h1>
            </a>
            <h1>{{ recipe["recipe_name"] }}</h1>
            <h2>{{ recipe["course"] }} / {{ recipe["category"] }}</h2>
            {% if recipe['user_id'] == user["user_id"] %}
                <h4>Created By: You!</h4>
            {% else %}
                <h4>Created By: {{ recipe["username"] }}</h4>
            {% endif %}
            <h3>{{ recipe["description"] }}</h3>
            <div class="container-btns">
                <!-- checks if guest user -->
                {% if saved == True %}
                    <form action="/recipesmod" method="post" onsubmit="userConfirmAct(event, 'unsave')" style="background-color: var(--main-light);">
                        <input name="recipeUnsave" value="{{ recipe['recipe_id'] }}" hidden >
                        <input type="image" src="/static/images/icons/icon-heart.svg" style="filter: invert(100%) contrast(200%);">
                        <h1>{{ recipe["saved_amount"]}}</h1>
                    </form>
                {% else %}
                    <form action="/recipesmod" method="post" onsubmit="userConfirmAct(event, 'save')">
                        <input name="recipeSave" value="{{ recipe['recipe_id'] }}" hidden >
                        <input type="image" src="/static/images/icons/icon-heart.svg" >
                        <h1>{{ recipe["saved_amount"]}}</h1>
                    </form>
                {% endif %}
                <div class="btn-style">
                    <img src="/static/images/icons/icon-share.svg">
                </div>
                {% if recipe['outer_link'] %}
                <div class="btn-style">
                    <a href="{{ recipe['outer_link'] }}" target="_blank"><h1>Reference Link</h1></a>
                </div>                
                {% endif %}
                <!-- if logged in user matches the id of created recipe, allow edit -->
                {% if recipe['user_id'] == user["user_id"] %}
              
                {% endif %}
            </div>
            <img src="{{ recipe['image_path'] }}">
            <div class="container-list">
                <h1>Ingredients</h1>
                {% for i in ingredients %}
                <h2> {{ i["ingredient_measure"] }} {{ i["ingredient_name"] }}</span></h2>
                {% endfor %}
            </div>
            <div class="container-list">
                <h1>Instructions</h1>
                {% for i in instructions %}
                <h2 id="step">Step {{ loop.index }}</h2>
                <h2>{{ i["instructions_name"] }}</h2>
                <br>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}